TerraficPlan/Web References/Mojaz2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="add_mojaz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pelak" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pelak_type" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="plan_type" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="off_type" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="familyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mobile_num" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="start_time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_time" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rial" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="stations" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add_mojazResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="add_mojazResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="add_mojazSoapIn">
    <wsdl:part name="parameters" element="tns:add_mojaz" />
  </wsdl:message>
  <wsdl:message name="add_mojazSoapOut">
    <wsdl:part name="parameters" element="tns:add_mojazResponse" />
  </wsdl:message>
  <wsdl:message name="add_mojazHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="pelak" type="s:string" />
    <wsdl:part name="pelak_type" type="s:string" />
    <wsdl:part name="plan_type" type="s:string" />
    <wsdl:part name="off_type" type="s:string" />
    <wsdl:part name="familyName" type="s:string" />
    <wsdl:part name="mobile_num" type="s:string" />
    <wsdl:part name="start_time" type="s:string" />
    <wsdl:part name="end_time" type="s:string" />
    <wsdl:part name="rial" type="s:string" />
    <wsdl:part name="stations" type="s:string" />
  </wsdl:message>
  <wsdl:message name="add_mojazHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="add_mojazHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="pelak" type="s:string" />
    <wsdl:part name="pelak_type" type="s:string" />
    <wsdl:part name="plan_type" type="s:string" />
    <wsdl:part name="off_type" type="s:string" />
    <wsdl:part name="familyName" type="s:string" />
    <wsdl:part name="mobile_num" type="s:string" />
    <wsdl:part name="start_time" type="s:string" />
    <wsdl:part name="end_time" type="s:string" />
    <wsdl:part name="rial" type="s:string" />
    <wsdl:part name="stations" type="s:string" />
  </wsdl:message>
  <wsdl:message name="add_mojazHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="add_mojaz">
      <wsdl:input message="tns:add_mojazSoapIn" />
      <wsdl:output message="tns:add_mojazSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="add_mojaz">
      <wsdl:input message="tns:add_mojazHttpGetIn" />
      <wsdl:output message="tns:add_mojazHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="add_mojaz">
      <wsdl:input message="tns:add_mojazHttpPostIn" />
      <wsdl:output message="tns:add_mojazHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add_mojaz">
      <soap:operation soapAction="http://tempuri.org/add_mojaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add_mojaz">
      <soap12:operation soapAction="http://tempuri.org/add_mojaz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="add_mojaz">
      <http:operation location="/add_mojaz" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="add_mojaz">
      <http:operation location="/add_mojaz" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://80.75.8.195/traffic_service/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://80.75.8.195/traffic_service/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://80.75.8.195/traffic_service/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://80.75.8.195/traffic_service/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>